<div class="mat-dialog-header">
    <a href="javascript:void(0);" class="close-icon" (click)="close()">
        <span class="material-symbols-outlined">
            close
        </span>
    </a>
</div>
<mat-dialog-content> 
    <div class="dialog-content">
        <h4>Name: {{data.name.first_name}} {{data.name.last_name}}</h4>
        <p>Are you sure, You want to delete this record ?</p>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="d-flex just-space-around">
    <button class="btn" (click)="delete()">Yes</button>
    <button class="btn" (click)="close()">No</button>
</mat-dialog-actions>