// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$task-primary: mat-palette($mat-indigo);
$task-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$task-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$task-theme: mat-light-theme((color: (primary: $task-primary,
                accent: $task-accent,
                warn: $task-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($task-theme);


$primary: #212121;
$secondary: #757575;
$tertiary: #f5f5f5;
$border-color: #bdbdbd;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    // box-sizing: border-box;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

.g-16 {
    gap: 16px
}

.just-space-between {
    justify-content: space-between;
}

.just-space-around {
    justify-content: space-around;
}

.just-end {
    justify-content: end;
}


h1,
h4,
p {
    margin: 0;
}

.material-symbols-outlined {
    margin-right: 4px;
}

.btn {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 2px solid $border-color;
    background-color: transparent;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    color: $secondary;
    padding: 8px 16px;
}

.btn-secondary {
    border: none;
    background: none;
    cursor: pointer;
}

.mat-dialog-container {
    border-radius: 16px !important;
    padding: 30px !important;
}

.mat-dialog-content {
    .dialog-content {
        text-align: center;
        font-size: 24px;

        h4 {
            font-weight: 600;
            color: $primary;
        }
    }
}

.mat-dialog-header {
    position: relative;

    .close-icon {
        position: absolute;
        right: 0;
        top: -12px;
        color: $primary;
    }
}

.main-container {
    padding: 60px;
    display: flex;
    // gap: 16px;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: auto;

    .sub-container {
        width: 100%;
    }
}

.side-nav {
    width: 80px;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;

        li {
            border-radius: 16px;
            cursor: pointer;
            margin-top: 16px;
        }
    }
}

.top-section {
    margin-bottom: 16px;

    .header-container {
        margin-bottom: 24px;

        .heading {
            font-size: 36px;
            font-weight: 600;
            color: $primary;
        }
    }

    .chart-section {

        .left-chart-container,
        .right-chart-container {
            border: 1px solid $border-color;
            border-radius: 16px;
        }

        .left-chart-container {
            width: 70%;
        }

        .right-chart-container {
            width: 30%;
        }

        .chart-header {
            padding: 24px;
            border-bottom: 1px solid $border-color;

            .heading {
                font-size: 20px;
                font-weight: 600;
                color: $primary;
            }

            .sub-heading {
                font-size: 16px;
                font-weight: 400;
                color: $secondary;
            }
        }

        .chart {
            padding: 24px;
            height: 300px;
            border-bottom: 1px solid $border-color;
            position: relative;

            .title {
                font-size: 18px;
                font-weight: 600;
                color: $primary;
            }

            .sub-title {
                font-size: 16px;
                font-weight: 400;
                color: $secondary;
            }

            .guage-chart {
                width: 100%;
                height: 220px;
                display: block;
            }

            .growth {
                position: absolute;
                display: flex;
                align-items: center;
                right: 50px;
                top: 50px;
                font-size: 22px;
                font-weight: 600;
                color: green;
            }
        }

        .chart-footer {
            padding: 24px;
        }
    }
}

.bottom-grid {
    border: 1px solid $border-color;
    border-radius: 16px;
    position: relative;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        border-bottom: 1px solid $border-color;

        .title {
            font-size: 22px;
            font-weight: 600;
        }

        .btn {
            border: 2px solid violet;
            // background-color: ;
            border-radius: 16px;
            font-size: 16px;
            padding: 8px;
            cursor: pointer;
        }
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        input[type="checkbox"] {
            display: none;
        }

        label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
        }

        label::before {
            content: "";
            position: absolute;
            left: 5px;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid $border-color;
            border-radius: 8px;

        }

        input[type="checkbox"]:checked+label::before {
            content: '';
            background-color: $secondary;
            border: 2px solid $border-color;
        }

        td,
        th {
            padding: 16px;
            border-bottom: 1px solid $border-color;

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }

        thead {
            th {
                background-color: $tertiary;
                color: $secondary;
                font-weight: 600;
            }
        }

        tbody {
            tr {
                .material-symbols-outlined {
                    &:first-child {
                        margin-right: 20px;
                    }

                    color: $secondary;
                }

                &:first-child {
                    padding-left: 16px;
                }

                &:last-child {
                    padding-right: 16px;
                }

            }

            .profile-info {
                .profile-icon {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $tertiary;
                    border: 1px solid $border-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                    color: $secondary;
                    letter-spacing: -1px;
                }

                .user-info {
                    display: inline;

                    .user-name {
                        color: $primary;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .social-handle {
                        color: $secondary;
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }

            .customer {
                background-color: #effdf4;
                border: 1px solid #ddf7e5;
                padding: 4px 8px 4px 20px;
                font-size: 12px;
                border-radius: 14px;
                color: #5b9373;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    top: 8px;
                    left: 7px;
                    border-radius: 50%;
                    background-color: #53af71;
                }
            }


            .churned {
                background-color: #f9fafb;
                border: 1px solid #ebedf1;
                padding: 4px;
                padding: 4px 8px 4px 20px;
                font-size: 12px;
                border-radius: 14px;
                color: #6c7480;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    top: 8px;
                    left: 7px;
                    border-radius: 50%;
                    background-color: #687083;
                }
            }

            .role {
                font-size: 18px;
                font-weight: 500;
                color: $secondary;

            }

            .license-use {
                font-size: 16px;
                color: $secondary;
                font-weight: 600;
            }

            .license-progress {
                width: 80%;
                height: 10px;
                border-radius: 16px;
                background-color: #eaecf0;
                position: relative;

                .progress-bar {
                    display: block;
                    position: absolute;
                    height: 10px;
                    border-radius: 16px;
                    background-color: #7958d2;
                }
            }

            .teams {
                display: flex;
                gap: 8px;

                .team {
                    border-radius: 16px;
                    padding: 4px 16px;
                }
            }

        }
    }

    .table-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;

        .btn {
            gap: 8px;

            .material-symbols-outlined {
                font-weight: 600;
            }
        }

        .page {

            span {
                border-radius: 16px;
                padding: 12px 20px;
                font-weight: 600;
                color: $primary;
                font-size: 20px;

                &.active {
                    background-color: $tertiary;
                }
            }

        }
    }

    .table-nav {
        position: absolute;
        top: 85px;
        left: -96px;
        width: 80px;
        text-align: center;

        ul {
            list-style: none;
            padding: 0;


            .profile {
                // width: 50px;
                // height: 50px;
                padding-top: 20px;
                .profile-icon {
                    padding: 16px;
                    font-size: 20px;
                    border-radius: 50%;
                    background-color: $tertiary;
                    border: 1px solid $border-color;
                    font-weight: 800;
                    color: $secondary;
                    letter-spacing: -2px;
                }
            }


        }
    }
}

.highcharts-legend,
.highcharts-credits {
    display: none;
}

.highcharts-container {
    top: 30px
}